
.wrapper{
  background:linear-gradient(45deg,rgba(244, 245, 246, 0.789),#ffffff) ;
  border-radius: 10px;
  height: 90vh;
  max-width: 550px;
  margin: 0 auto;

}
form{
  padding: 20px;
}
input{
  width: 100%;
}
