.container{
  margin: 30px auto;
  /* background-image: url(/images/pen-4337521_1280.jpg); */
}
form{
  /* background:linear-gradient(45deg,rgba(179, 110, 243, 0.663),rgba(162, 250, 190, 0.488)); */
  background-color: #ffff;
  box-shadow: 0px 0px 10px rgb(227, 227, 227);
  padding: 20px;
  border-radius: 10px;

}
