
<section class="dark:bg-gray-900 py-5">
 <!-- Toast Wrapper -->
 <div class="toast-wrapper absolute top-4 items-center z-50">
  <!-- Success Toast -->
  <div *ngIf="registerSuccess" id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
      </svg>
      <span class="sr-only">Check icon</span>
    </div>
    <div class="ms-3 text-sm font-normal">{{ successMessage }}</div>
    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close" (click)="registerSuccess = false">
      <span class="sr-only">Close</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
  </div>

  <!-- Error Toast -->
  <div *ngIf="registerError" id="toast-error" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
      </svg>
      <span class="sr-only">Error icon</span>
    </div>
    <div class="ms-3 text-sm font-normal">{{errorMessage}}</div>
    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-error" aria-label="Close" (click)="registerError = false">
      <span class="sr-only">Close</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
  </div>
</div>
      <div class="items-center mt-5 flex flex-col w-[70%] m-auto rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
        <h1 class=" mt-3 text-xl text-center font-bold leading-tight tracking-tight text-green-500 md:text-2xl dark:text-white">
          Register To Get Started ⭐
        </h1>
        <div class="mt-10">
          <form [formGroup]="registerUserForm" (ngSubmit)="registerUser()" class="w-full ">
            <div class="flex space-x-4">
              <div class="mb-3 w-1/2">
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                <input type="text" formControlName="first_name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="John" />
                <div *ngIf="registerUserForm.get('first_name')?.invalid && (registerUserForm.get('first_name')?.touched || registerUserForm.get('first_name')?.dirty)" class="text-sm text-red-500">
                  First name is required
                </div>
              </div>

              <div class="mb-3 w-1/2">
                <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                <input type="text" formControlName="last_name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Doe" />
                <div *ngIf="registerUserForm.get('last_name')?.invalid && (registerUserForm.get('last_name')?.touched || registerUserForm.get('last_name')?.dirty)" class="text-sm text-red-500">
                  Last name is required
                </div>
              </div>
            </div>

            <div class="flex space-x-4">
              <div class="mb-3 w-1/2">
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                <input type="text" formControlName="username"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="john2024" />
                <div *ngIf="registerUserForm.get('username')?.invalid && (registerUserForm.get('username')?.touched || registerUserForm.get('username')?.dirty)" class="text-sm text-red-500">
                  Username is required
                </div>
              </div>

              <div class="mb-3 w-1/2">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email" formControlName="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="example@yopmail.com" />
                <div *ngIf="registerUserForm.get('email')?.invalid && (registerUserForm.get('email')?.touched || registerUserForm.get('email')?.dirty)" class="text-sm text-red-500">
                  Email is required
                </div>
              </div>
            </div>

            <div class="flex space-x-4">
              <div class="mb-3 w-1/2">
                <label for="phone_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                <input type="text" formControlName="phone_number"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="+254712345678" />
                <div *ngIf="registerUserForm.get('phone_number')?.invalid && (registerUserForm.get('phone_number')?.touched || registerUserForm.get('phone_number')?.dirty)" class="text-sm text-red-500">
                  Phone number is required
                </div>
              </div>

              <div class="mb-3 w-1/2">
                <label for="password_hash" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input type="password" formControlName="password_hash"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                <div *ngIf="registerUserForm.get('password_hash')?.invalid && (registerUserForm.get('password_hash')?.touched || registerUserForm.get('password_hash')?.dirty)" class="text-sm text-red-500">
                  Password must have lower case, upper case, and numeric characters
                </div>
              </div>
            </div>

            <button type="submit"
              class="text-white my-5 bg-green-500 hover:bg-green-800 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Create Account
            </button>

            <p routerLink="/login" class="mt-4 cursor-pointer text-gray-600 text-center">Already have an account? <span class="text-blue-600 text-sm font-bold">Login</span></p>
          </form>


        </div>
      </div>

</section>

