<div class="p-4 sm:ml-64">
  <div class="p-4 rounded-lg dark:border-gray-700">
 <div class="flex items-center justify-between">
  <h1 class="text-gray-900 text-2xl font-semibold">Available Events</h1>

  <div *ngIf="success" class="p-3 text-green-700 bg-green-200 rounded-md">{{notificationMsg}}</div>
  <div *ngIf="error" class="p-3 text-red-700 bg-green-200 rounded-md">{{notificationErrorMsg}}</div>
  <button class="py-3 px-3 bg-slate-600" (click)="requestToBeEventOrganizer()">Become An Event Organizer</button>

</div>
<form class="my-10" (ngSubmit)="searchEvents()">
  <div class="filters">
    <input type="text" name="searchTerm" id="searchTerm" [(ngModel)]="searchTerm" placeholder="Enter name or description" class="input-field border-blue-500">
    <select name="location" id="location" [(ngModel)]="selectedCounty" class="input-field border-blue-500">
      <option value="" disabled selected>Select County</option>
      <option *ngFor="let county of counties" [value]="county">{{ county }}</option>
    </select>
    <button type="submit" class="search-button bg-gradient-to-r from-blue-400 to-violet-400">
     Filter Events
    </button>
  </div>
</form>


  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let event of paginatedEvents | event:searchTerm:selectedCounty"
         class="max-w-md mx-auto bg-gray-100 shadow-lg rounded-lg my-4 event"
         [@fadeAnimation]>
      <div class="image-container">
        <img [src]="event.images" alt="event image" class="event-img">
      </div>
      <div class="p-2">
        <h2 class="text-xl font-bold text-gray-800 mb-2">{{ event.title }}</h2>
        <p class="text-gray-600 mb-4">{{ event.description }}</p>
        <button (click)="viewEventDetails(event.event_id)" class=" w-full py-2 px-4 bg-gradient-to-r from-blue-400 to-violet-400 relative b-0">
          View Details
        </button>
      </div>
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="flex justify-center gap-2 mt-4">
    <button (click)="prevPage()" [disabled]="currentPage === 1" class="py-2 px-4 bg-blue-600 text-white rounded-md">
      Previous
    </button>
    <button *ngFor="let page of [].constructor(totalPages); let i = index"
            (click)="goToPage(i + 1)"
            [class.bg-blue-600]="currentPage === i + 1"
            [class.text-white]="currentPage === i + 1"
            [class.bg-gray-300]="currentPage !== i + 1"
            class="py-2 px-4 rounded-md">
      {{ i + 1 }}
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="py-2 px-4 bg-blue-600 text-white rounded-md">
      Next
    </button>
  </div>
</div>
