<div class="flex justify-center gap-10  m-10">
  <div class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm  py-5 px-10  text-center me-2 mb-2  ">
    <dt class="mb-2 text-3xl font-extrabold">73M+</dt>
    <dd class="text-gray-500 dark:text-gray-400">Attendees</dd>
</div>
<div class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm  py-5 px-10  text-center me-2 mb-2  ">
    <dt class="mb-2 text-3xl font-extrabold">100K+</dt>
    <dd class="text-gray-500 dark:text-gray-400">Vendors</dd>
</div>

<div class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm  py-5 px-10  text-center me-2 mb-2  ">
  <dt class="mb-2 text-3xl font-extrabold">100K+</dt>
  <dd class="text-gray-500 dark:text-gray-400">Vendors</dd>
</div>
<div class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm  py-5 px-10  text-center me-2 mb-2 ">
    <dt class="mb-2 text-3xl font-extrabold">1000s</dt>
    <dd class="text-gray-500 dark:text-gray-400">Annual Events</dd>
</div>



</div>
