
<div class=" gap-10 m-20 flex flex-col md:flex-row">

  <div class="flex-shrink-0">
    <img src="https://cdn.pixabay.com/photo/2024/01/10/16/20/woman-8499928_1280.jpg" alt="Tech Event Image" class=" md:max-w-sm">
  </div>

  <div class="flex flex-col text-center  bg-slate-100 p-5 rounded-3xl">
    <h2 class="text-1xl font-bold m-5 text-blue-700"  >Join Our Tech Events</h2>
    <p class="text-gray-700">We organize and host tech events, meetups, and conferences across Kenya to bring together tech enthusiasts, professionals, and industry leaders. Join us to network, learn, and grow in the vibrant tech community of Kenya.</p>
  </div>

</div>
