i{
  font-size: 18px;
}
.toast-wrapper {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 9999;
}

.toast-wrapper .toast {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
