<app-navbar></app-navbar>

<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden md:h-96 ">
    <!-- Item 1 -->
    <div class="hidden duration-700 ease-in-out flex items-center justify-center" data-carousel-item>
      <img src="https://img.freepik.com/free-photo/couple-using-laptop-while-couch-home-together_23-2148793531.jpg?t=st=1720514760~exp=1720518360~hmac=e504c40f8a23e8ca8b8be74bf66d994dea2eb89030612b4077d7307abe2c5bef&w=900" class="absolute block w-full h-full object-cover" alt="...">
      <div class="absolute bg-black bg-opacity-50 text-white p-10 rounded">
        <h1>Explore diverse tech events in Kenya</h1>
        <p>
          Discover workshops, seminars, conferences, and meetups. </p>
          <button type="button" class="mt-10 text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Get Started</button>

      </div>
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-700 ease-in-out flex items-center justify-center p-10" data-carousel-item>
      <img src="https://cdn.pixabay.com/photo/2024/01/10/16/20/woman-8499928_1280.jpg" class="absolute block w-full h-full object-cover" alt="...">
      <div class="absolute bg-black bg-opacity-50 text-white p-3 rounded">
        <h1>Explore diverse tech events in Kenya</h1>
        <p>
          Discover workshops, seminars, conferences, and meetups. </p>

          <button type="button" class="mt-5 text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Get Started</button>


      </div>
    </div>
    <!-- Item 3 -->
    <div class="hidden duration-700 ease-in-out flex items-center justify-center p-10" data-carousel-item>
      <img src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg" class="absolute block w-full h-full object-cover" alt="...">
      <div class="absolute bg-black bg-opacity-50 text-white p-3 rounded">
        <h1>Explore diverse tech events in Kenya</h1>
        <p>
          Discover workshops, seminars, conferences, and meetups. </p>

          <button type="button" class="mt-5 text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Get Started</button>

        </div>
    </div>
    <!-- Item 4 -->
    <div class="hidden duration-700 ease-in-out flex items-center justify-center p-10" data-carousel-item >
      <img src="https://cdn.pixabay.com/photo/2022/06/02/15/01/music-7238254_1280.jpg" class="absolute block w-full h-full object-cover" alt="...">
      <div class="absolute bg-black bg-opacity-50 text-white p-10 rounded">
        <h1>Explore diverse tech events in Kenya</h1>
        <p>
          Discover workshops, seminars, conferences, and meetups. </p>

          <button type="button" class="mt-5 text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Get Started</button>
      </div>
    </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>

<app-statcount></app-statcount>
<div class="text-center mb-6">
  <h2 class="font-bold text-2xl mb-2">About Us</h2>

</div>

<app-about-us></app-about-us>
<div class="text-center mb-6">
  <h2 class="font-bold text-2xl mb-2">Popular Events</h2>

</div>

<app-events></app-events>

<div class="text-center mb-6">
  <h2 class="font-bold text-2xl mb-2">Testimonials</h2>

</div>

<app-testimonials></app-testimonials>

<div class="text-center mb-6">
  <h2 class="font-bold text-2xl mb-2">Connect With Our Team</h2>
  <p>Fill the form so that our team can reach out to you</p>
</div>
<app-contact></app-contact>


<app-footer></app-footer>
