<app-navbar></app-navbar>
<div class="relative w-full h-[20vh]">
  <img class="w-full h-full object-cover" src="assets/kids-with-vr-glasses-abstract-futuristic-school-classroom.jpg" alt="image description">
  <div class="absolute inset-0 bg-gradient-to-r from-blue-500 to-transparent"></div>
  <div class="absolute inset-0 flex items-center justify-center">
    <p class="text-white text-lg font-bold">Get In Touch With Us Today</p>
  </div>
</div>

<app-contact></app-contact>
<app-footer></app-footer>

