/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: sans-serif;
  /* background-color: #181818; */
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}


.grid-custom {
  @apply grid gap-4; /* Apply Tailwind grid and gap utilities */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Custom grid layout */
}
